
Flask==3.0.2
Werkzeug==3.0.1
Pillow==10.2.0
moviepy==2.1.2
openai==1.12.0
replicate==0.22.0
gunicorn==23.0.0
email_validator
flask
flask-sqlalchemy
gunicorn
numpy
psycopg2-binary
email-validator
Flask
flask-sqlalchemy
google-genai
gunicorn
moviepy
numpy
openai
Pillow
psycopg2-binary
python-dotenv
replicate
requests
Werkzeug
